<div id='content' class='content-col col'>
  <%= form_for @post do |f| %>

  <div class='control-group'>
    <label class='control-label'>Photos:</label>
    <div class='controls'>
      <a id='photos' href='http://fotki.yandex.ru/' target='_blank' >Photos</a>
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Original:</label>
    <div class='controls'>
      <%= f.text_field :original, placeholder: 'http://...' %>
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Title IMG:</label>
    <div class='controls'>
      <%= f.text_field :title_img, placeholder: 'http://...' %>
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Title:</label>
    <div class='controls'>
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Body - Title:</label>
    <div class='controls'>
      <%= f.text_area :body_title, placeholder: 'body_title' %>
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Article:</label>
    <div class='controls undoreset'>
      <%= f.text_area :body, placeholder: '...markdown stuff...' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :tag_ids, 'Теги: ', class: 'control-label' %>

    <div class='controls'>
      <%= f.select :tag_ids, options_from_collection_for_select( @tags, :id, :name, f.object.tag_ids ),
                              {},
                              { multiple: true,
                                tabindex: 4,
                                class: 'chosen-select',
                                'data-placeholder' => 'Выберите тег...' } %>
    </div>
  </div>

  <div class='clear'></div>
  <div class='control-group'>
    <div class='controls'>
      <%= f.submit 'Создать', class: 'btn-success' %>
    </div>
  </div>
  <% end %>
</div>
