<div id='content' class='content-col col'>
  <div id='post-index'>
    <div class='post-info'>
      <div class='date'>Июль 16, 2014</div>
      <div class='author'>
        <a href=''>No Original</a>
      </div>
    </div>

    <article class='post'>
      <%= render partial: 'posts/common/title', locals: { article: @post } %>

      <div class='clear'></div>

      <%= render partial: 'posts/common/post_body', locals: { body: @post.body } %>
      <%= render partial: 'posts/shared/back', locals: { article: @post } %>
    </article>
  </div>

  <div id='comments-wrapper'>
    <%= render partial: 'posts/comments/post_comments', locals: { post: @post } %>
  </div>
</div>

<%= render 'posts/common/post_sidebar' %>
