<div id='content' class='content-col col'>
  <div id='post-index'>
    <%= render partial: 'posts/common/info', locals: { article: @post } %>

    <div class='sidebar_closing'><div class='right'></div></div>

    <article class='post'>
      <%= render partial: 'posts/common/title', locals: { article: @post } %>
      <%= render partial: 'posts/common/post_tags', locals: { tags: @tags } %>
      <div class='clear'></div>

      <%= render partial: 'posts/common/post_body', locals: { body: @post.rendered_body, src_img: @post.title_img } %>
      <%= render partial: 'posts/shared/back', locals: { article: @post } %>
    </article>
  </div>

  <div id='comments-wrapper'>
    <%= render partial: 'posts/comments/post_comments', locals: { post: @post } %>
  </div>
</div>

<%= render 'posts/common/post_sidebar' %>
